<template>
  <v-app id="app">
    <div id="nav">
      <div align="left">
        <router-link to="/">Signin</router-link> |
        <router-link to="/login">Login</router-link> |
        <router-link to="/board">Board</router-link> |
        <router-link to="/response">Response</router-link> |
        <router-link to="/about">About</router-link>
      </div>
    </div>
    <router-view/>
    <Footer/>
  </v-app>
</template>

<script>
import '@/assets/styles.css';
import Footer from '@/components/Footer.vue';

export default {
  name: 'App',
  components: {
    Footer,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav{
  background-color: transparent;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
