<template>
  <div>
      <h1 class="h1">About</h1>
  </div>
</template>

<script>

export default {
  name: 'About',
  components: {
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped>
</style>
