<template>
  <div id="fullcontainer">
    <Hellobar v-if="promotion == true"/>
    <BoardMenu/>
    <v-row>
      <v-col offset="2" md="3" cols="12">
        <VotersPannel/>
        <ResponseAdminAction v-if="adminAction == true"/>
      </v-col>
      <v-col md="5" cols="12">
        <SubjectTitle/>
        <ResponseFeed/>
      </v-col>
      </v-row>
  </div>
</template>

<script>
import Hellobar from '@/components/Hellobar.vue';
import BoardMenu from '@/components/Board/BoardMenu.vue';
import SubjectTitle from '@/components/Response/SubjectTitle.vue';
import ResponseFeed from '@/components/Response/ResponseFeed.vue';
import VotersPannel from '@/components/Response/VotersPannel.vue';
import ResponseAdminAction from '@/components/Response/ResponseAdminAction.vue';

export default {
  name: 'Response',
  components: {
    Hellobar,
    BoardMenu,
    ResponseFeed,
    SubjectTitle,
    VotersPannel,
    ResponseAdminAction,
  },
  data() {
    return {
      adminAction: true,
      promotion: false,
    };
  },
};
</script>

<style scoped>
  #fullcontainer {
      background-color: #f6f6f6;
      width: 100%;
      height: 100%;
  }
</style>
