<template>
  <div class="fullcontainer">
      <v-row>
      <v-col offset="1" md="4" cols="12">
          <span class="fs20 text-white text-bold">COMPANY NAME</span>
          <span class="fs15 text-white ml20">Board name</span>
      </v-col>
      <v-col md="7" cols="12">
        <a href="#">
          <span class="fs14 text-white text-bold">Déconnexion</span>
        </a>
        <span class="text-white"><strong> | </strong></span>
        <a href="#">
          <span class="fs14 text-white text-bold">Vue publique</span>
          <v-icon color="white" class="delete">mdi-arrow-top-right</v-icon>
        </a>
      </v-col>
      </v-row>
  </div>
</template>

<script>
export default {
  name: 'BoardMenu',
  props: {
  },
};
</script>

<style scoped>
.fullcontainer{
    background-color: #5662E8;
    height: 100px;
}
</style>
