<template>
   <div class="fullcontainer">
      <v-col>
         <v-card class="pa20 create-suggestion-container">
            <div align="center" class="mb20">
               <h3>Faire une suggestion</h3>
            </div>
            <v-form
               ref="form"
               v-model="valid"
               lazy-validation
               >
               <v-text-field
                  v-model="name"
                  :rules="nameRules"
                  label="Titre"
                  required
                  outlined
                  placeholder="..."
                  dense
                  background-color="white"
                  ></v-text-field>
               <v-textarea
                  v-model="description"
                  :rules="descriptionRules"
                  label="Détails"
                  required
                  placeholder="..."
                  outlined
                  height="100"
                  background-color="white"
                  >
               </v-textarea>
               <div align="right" class="mb10">
                  <v-btn
                     :disabled="valid"
                     color="#6dd345"
                     @click="validate"
                     dark
                     depressed
                     >
                     Créer un sujet
                  </v-btn>
               </div>
            </v-form>
         </v-card>
         <p class="fs15 mt10 text-grey">Powered by Kloz</p>
      </v-col>
   </div>
</template>

<script>
export default {
  name: 'BoardCreateSubject',
  props: {
  },
};
</script>

<style scoped>
.fullcontainer{
   max-width: 350px;
}
.create-suggestion-container{
   background-color: #E9E9E9;
}
</style>
