<template>
  <div class="fullcontainer">
      <v-col class="text-center" cols="12">
        <span class="text-white text-bold fs15">7 DAYS LEFT BEFORE THE END OF YOUR TRIAL -
            <a>SUBSCRIBE NOW</a>
        </span>
      </v-col>
  </div>
</template>

<script>
export default {
  name: 'Hellobar',
  props: {
  },
};
</script>

<style scoped>
.fullcontainer{
    background-color: #30303B;
}
</style>
