<template>
   <div class="palt5" :class="{'palr10': $vuetify.breakpoint.smAndDown}">
      <h2 class="mt20 mb20">Start your free 14-day trial</h2>
      <v-col offset-md="5" md="2" cols="12" class="mx-auto" align="center">
         <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
            <v-text-field
               v-model="name"
               :rules="nameRules"
               label="Name"
               required
               outlined
               dense
               background-color="white"
               ></v-text-field>
            <v-text-field
               v-model="email"
               :rules="emailRules"
               label="E-mail"
               required
               outlined
               dense
               background-color="white"
               ></v-text-field>
            <v-text-field
               v-model="entreprise"
               :rules="entrepriseRules"
               label="Entreprise"
               required
               outlined
               dense
               background-color="white"
               ></v-text-field>
            <v-text-field
               v-model="password"
               :rules="passwordRules"
               label="Mot de passe"
               required
               outlined
               dense
               background-color="white"
               ></v-text-field>
            <v-btn
               :disabled="valid"
               color="#6dd345"
               @click="validate"
               dark
               >
               Créer mon compte
            </v-btn>
         </v-form>
      </v-col>
   </div>
</template>

<script>
export default {
  name: 'Signinform',
  props: {
  },
  methods: {
    validate() {
      this.$emit('clicked', 'createYourBoard');
    },
  },
};
</script>

<style scoped>
</style>
